<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676862767188-p5d2spgd1ahbl6fj1sfavvgqrmhmjki9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676862767188-p5d2spgd1ahbl6fj1sfavvgqrmhmjki9</string>
	<key>API_KEY</key>
	<string>AIzaSyAWHF_x0WohD6B5ljqn3udey2xXWiDWGb4</string>
	<key>GCM_SENDER_ID</key>
	<string>676862767188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokhamall.anakutdigital</string>
	<key>PROJECT_ID</key>
	<string>sokha-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>sokha-mall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676862767188:ios:4821b595c9175affcd3dc1</string>
</dict>
</plist>